body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.slider-track {
    white-space: nowrap;
    border: 1px solid grey;
    overflow: hidden;
}
img {
    object-fit: contain;
}
i {
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
    font-size: 45px;
    cursor: pointer;
    transition: 100ms;
}
i:hover {
    color: grey;
}
.next {
    right: -30px;
}
.prev {
    left: -30px;
}
.wrapper {
    position: relative;
}
#settings {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 30px;
    padding: 15px;
}